<script type="text/javascript">
<% if logged_in? %>
  window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
<% end %>

window.DancergramAssets = {
  phoneImage: "<%= asset_path("instagram_phone.png")%>",
  profileLink: "<%= asset_path("Profile_link.png")%>"
};
</script>

<script src="https://use.typekit.net/ril6krw.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">



<div id="content"></div>
