.post-feed-list {
  list-style: none;
}


.post-container {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 600px;
  height: auto;
  margin: 20px auto;
  border: 1px solid #efefef;

  .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
    width: 100%;
    a {
      margin-right: auto;
      margin-left: 20px;
      font-weight: bold;
      color: #262626
    }

    p {
      margin-left: auto;
      margin-right: 20px;
      color: #999;
    }
  }

  .post-description-container {
    background: #fff;
    padding-top: 10px;
    display: flex;
    margin-right: auto;
    strong {
      margin-left: 20px;
      font-weight: bold;
    }
    p {
      padding-left: 5px;
    }
  }
  .post-likes-container {
    background: #fff;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    .post-likes-button {
      height: 50px;
      width: 50px;

      .liked {
        cursor: pointer;
        height: 50px;
        width: auto;
      }
      .not-liked {
        cursor: pointer;
        height: 50px;
        width: auto;
      }
    }
    p {
      padding: 0 5px;
      font-weight: bold;
    }
  }

  .post-links {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    button {
      font-size: 10px;
      margin-left: 5px;
      padding: 3px 7px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      cursor: pointer;
      color: #262626;
      border-color: #999999f2;
      background: #efefef;
    }
  }

}
